
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');



body {
    box-sizing: border-box;
    background-color: rgb(200, 191, 191);
}

#header-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    color: #333;
    background-color:cornflowerblue;
    border-bottom: 2px solid black;
    height:10vh;
}

#app-quote-header {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 1%;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 1%;
}

#todo-form {
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 30%;
    background-color: whitesmoke;
    border-radius: 12px;
}

#todo-form input, select, button {
    padding: 3%;
    margin-top: 8%;
}

button {
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(rgb(41, 128, 185), rgb(135, 189, 216));
    border: none;
    color: #fff;
    border-radius: 5px;
    transition: font-size 0.3s;
    transition-property: font-size;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

button:hover {
    font-size: 18px;
}

hr {
    width: 100%;
    margin-top: 2%;
}

#app-quote-header h1 {
    font-size: 25px;
    margin-top: 1%;
    font-family: "Pacifico", cursive;
}

#form {
    padding: 1%;
}

ul {
    list-style-type: none;
}